name: textlint

on:
  pull_request:

jobs:
  textlint:
    name: runner / textlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Run textlint
        run: pnpm textlint "(articles|books)/**/*.md"
